<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html;charset=UTF-8 ">
    <title>凝社区</title>
    <script src="/js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css">


</head>
<body>


        <div class="jumbotron" style="margin: 50px">
            <h1>出错了！</h1>
            <p th:text="${message}"></p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">回到首页</a></p>
        </div>

</body>
</html>